* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: monospace;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #515da2;
  height: 14rem;
  padding-top: 4rem;
  opacity: 8;
}

.logo {
  height: 6rem;
  width: auto;
}

button {
  position: relative;
  background-color: #e04b52;
  border: 1px solid #e04b52;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  padding: 0px 10px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}

.add-toy-form {
  width: 80%;
  margin-left: 20px;
}

h3 {
  font-size: 2rem;
  padding: 10px 0px;
  color: #e04b52;
}

.submit {
  position: relative;
  background-color: #e04b52;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: monospace;
  margin: 3px;
  padding: 0px 10px;
}

.submit:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}

.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 40%;
  font-size: 18px;
  font-family: monospace;
  margin: 3px;
  padding-left: 10px;
}

.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  display: none;
  background-color: #515da2;
  opacity: 8;
}

p {
  font-size: 20px;
  font-weight: 900;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 1rem;
  box-shadow: 3px 4px #e04b52;
}

.toy-avatar {
  justify-self: center;
  height: 12rem;
  width: auto;
}

#loading {
  text-align: center;
  font-size: 30px;
  color: #e04b52;
}
#main-container {
  margin: 2rem;
}

@media screen and (max-width: 385px) {
  p {
    padding-top: 30px;
  }
}

@media screen and (max-width: 800px) {
  .input-text {
    width: 100%;
  }
}
