* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: monospace;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #515da2;
  height: 15rem;
  padding-top: 4rem;
  opacity: 8;
}

.header img {
  height: 6rem;
  width: auto;
}
